.header{
    position: absolute;
    width: 1110px;
    height: 120px;
    left: 405px;
    top: 0px;
    background-color: black;
    
}
.img0{
    padding-left: 95px;
    padding-top: 15px;

}
.img1{
    padding-top: 25px;
    padding-left: 175px;
}

.container1{
    background-color:#C4C4C4;
    position: absolute;
    margin-left: 500px;
    margin-top: 170px;
    width:  922px;
    height: 475px;
}

.container2{
    position: absolute;
    width: 1110px;
    height: 220px;
    top: 720px;
    background-color: #E2E0E0;
    margin-left: 405px;
}

.row{
    width: 1100px;
    height: 220px;
}

.col{
    width: 350px; 
    height: 220px;
}
