.lightBloc{
    background-color: #E2E0E0;
    height: 220px;
}
.greyBloc{
    background-color: #C4C4C4;
    height: 220px; 
}


.lightBigBloc{
    background-color: #E2E0E0;
    height: 340px;
}
.greyBigBloc{
    background-color: #C4C4C4;
    height: 340px; 
}

.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    display: flex;
    color: #000000;
    padding: 20px;   
    letter-spacing: 0em;
    text-align: left;
    
}


.text2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    

    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.m1{
    padding-left: 50px;
    padding-top: 40px;
    width: 43px;
	height: 15px;
	top: 0px;
}